body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 20px;
}
.upload-form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
h2 {
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}
.file-input-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.file-input {
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.file-input:focus {
    border-color: #007bff;
    outline: none;
}
.upload-button {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.upload-button:hover {
    background: #218838;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #007bff;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
.edit-btn {
    background-color: #E4A11B;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: #94702a;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: #da190b;
}